MB_DB_TYPE=postgres
MB_DB_HOST=127.0.0.1
MB_DB_PORT=5432
MB_DB_DBNAME=diploma_metabase
MB_DB_USER=diploma_metabase
MB_DB_PASS=CHANGE_ME
MB_JETTY_HOST=127.0.0.1
MB_JETTY_PORT=3030
MB_ANON_TRACKING_ENABLED=false
